<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CineBot</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>

    <header>

        <span class="header-menu">

        </span>

    </header>

    <div class="main-container">

        <h1>Hello!</h1>

        <div class="main-window">

            <div class="response-container">
                <span>response container</span>
            </div>

            <div class="typing-container">

                <div class="typing-area">
                    <span>zone de saisie de texte</span>
                </div>

                <div class="enter-button">
                    <span>Enter</span>
                </div>

            </div>

        </div>

    </div>


    <footer>
        <div>

        </div>
    </footer>

</body>
</html>