body {
    background-color: fff8e8;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
}

.main-window {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    border: 2px solid #3b444e;
    border-radius: 15px;
    padding: 15px;
}

.response-container {
    max-height: 400px;
    overflow-y: auto;
}

.movie-container {
    display: flex;
    margin: 20px;
    gap: 10px;
}

.thumbnail-img {
    height: 100px;
    width: auto;
}

.movie-title {
}

.showtimes-list{
    margin: 15px;
}

.showtime{

}

.typing-container {
    display: flex;
    margin-top: auto;
    gap: 10px;
}

.typing-area {
    width: 400px;
    height: 80px;
    border: 2px solid #3b444e;
    border-radius: 15px;
}

.enter-button {
    width: 80px;
    border: 2px solid #3b444e;
    border-radius: 15px;
}